/* /////////////////////////////////////////
                  Overall
//////////////////////////////////////////*/


* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 12px;
  font-family: sans-serif;
  font-weight: 600;
}

.text-red {
  color: #f45c42;
}

.text-light-red {
  color: #f89887;
}

.text-dark-red {
  color: #990000;
}

.text-white {
  color: white;
}

.text-black {
  color: black;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.clearfix {
  overflow: auto;
  zoom: 1;
}

/* /////////////////////////////////////////
                   Header
//////////////////////////////////////////*/

header {
  padding: 20px 20px;
  font-size: 10px;
}

.logo-img {
  padding-right: 10px;
  float: left;
  height: 20px;
}

.navigation {
  float:left;
  font-weight: bold;
  padding: 5px 0px;
  color: #f45c42;
}

.inline-ul {
  margin: 0;
  padding: 0;
}

.inline {
  display: inline;
  list-style: none;
  padding: 5px 10px 5px 0px;
}

.selected {
  border-bottom: 2px solid #f89887;
  color: #990000;
}

.cart-img {
  height: 10px;
}

.site-links {
  float: right;
  font-weight: bold;
  padding: 5px 0px;
  color: #f89887;
}

/*//////////////////////////////////////////
                  Main Shoe
//////////////////////////////////////////*/

.main-shoe {
  border-top: 5px solid #f24526;
  background: linear-gradient(to right, #ff3399 0%, #ff3300 100%);
  color: white;
  padding: 30px 125px 60px 125px;
}

.main-shoe-left {
  width: 55%;
  float: left;
}

.main-shoe-right {
  width: 40%;
  float: right;
}

.back-shoes {
  text-decoration: none;
  font-size: 8px;
  padding-bottom: 15px;
}

.bigshoe {
  width: 100%;
  padding-top: 20px;
}

#big-shoe-name {
  font-size: 30px;
  font-weight: lighter;
  margin: 30px 0px 5px 0px;
}

.release-date {
  clear:left;
  font-size: 10px;
  font-weight: 400;
  margin: 0;
}

.sneaker-details {
  line-height: 2em;
  margin: 20px 0px;
  padding: 20px 0px;
  border-top: 1px dashed #990000;
  border-bottom: 1px dashed #990000;
  font-size: 12px;
  font-weight: lighter;

}

.prices {
  display: block;
  font-size: 20px;
  font-weight: lighter;
}

.currency {
  font-size: 50%;
  vertical-align: text-top;
}

.buy-now {
  border-radius: 5px;
  background-color: white;
  color: #f45c42;
  font-size: 65%;
  font-weight: bolder;
  vertical-align: middle;
  text-decoration: none;
  padding: 10px 15px;
}

/*//////////////////////////////////////////
                  White Background
//////////////////////////////////////////*/

.white-background {
  padding: 30px 125px 60px 125px;
}

.content-links {
  border-bottom: 1px solid #f89887;
  padding: 0;
}

.reviews {
  float: right;
  font-size: 10px;
}

.middle-content {
  padding-bottom: 25px;
}

.text-light {
  font-weight: 400;
  color: #990000;
}

.block-padding {
  display: block;
  padding-top: 5px;
}

/*//////////////////////////////////////////
                  Second Shoes Section
//////////////////////////////////////////*/

.second-shoes {
  background: linear-gradient(to right, #ff3399 0%, #ff3300 100%);
  color: white;
  padding: 30px 125px;
}

.little-sneaker{
  float: left;
  width: 33%;
  padding: 20px;
}

#ShopShoes {
  background-color: #feeae7;
  color: black;
  margin: 0;
  padding: 20px 200px;
  text-align: center;
  font-size: 15px;
  font-weight: lighter;
}

.little-shoe-prices {
  display: block;
  font-size: 17px;
  font-weight: lighter;
}

.littleshoe {
  width: 100%;
}


.little-shoe-name {
  margin-bottom: 5px;
}

/*//////////////////////////////////////////
                  footer
//////////////////////////////////////////*/

footer {
  padding: 20px 20px;
  font-size: 10px;
}

.footer-links {
  float: right;
}
